*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

#container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to right,
        #130428 7%,
        #251043 34%,
        #38126D 57%,
        #30115B 70%,
        #261045 85%,
        #190634 100%
      );
    overflow: hidden;
    display: grid;
    grid-template-columns: 45% 50%;
}
aside{
    padding: 3.74rem;
}
#profile{
    background-color: #130428;
    margin-left: auto;
    border-radius: 1.25rem;
    width: 18.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.75rem;


}
#information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.675rem;
}
#information span{
    border: 1px solid #91e;
    background-color: #130428;
    border-radius: 0.675rem;
    padding: 0.5rem;
    color: #91e4f2;
    margin-bottom: 1rem;
}
hr{
    margin: 0.675rem;
    width: 90%;
}
#information-contacts{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}
#information-contacts img{
    width: 1.875rem;
    height: 1.875rem;
}
.information-text{
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}
.information-text  span:first-child{
   color: #91e4f2;
}
.information-info{
    display: flex;
    align-items: center;
    gap: 1.25rem;

}
img{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 20px;
}
#links{
    display: flex;
    justify-content: center;
    gap:  0.700rem;
}
#links img {
    width: 1.75rem;
    height: 1.75rem;
}

