
main{
    overflow: auto;
}
#container-main{
    margin-top: 80px;
    padding: 15px;
    border-radius: 20px;
    width: 850px;
    background-color: #130428;
}

#aboutme{
    text-align: center;
}
#skills{
    margin-top: 50px;
    text-align: center;
}
.name-span{
    color: aqua;
}
.descripition-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 6px 20px rgba(180, 90, 255, 0.3);
    border-radius: 12px;
    padding: 20px;
    gap: 5px;
 
}
.skill:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow:  0 10px 25px rgba(128, 0, 255, 0.3)
  }
.skill img{
    border: none;
    width: 90px;
    height: 90px;
    
    
}
.progress{
    color: aqua;
}
.name-skill{
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}